body{
    background-color:#95B56A;
}

#topo{
    background-color: #769051;
}

    #topo #logo{
        width: 340px;
        height: 109px;
    }

    #topo .menu-horizontal{
        text-decoration: none;
    }

    #topo .menu-horizontal li{
        list-style: none;
        margin-left: 10px;
    }
/*----------------------------------------------------------------------------------------*/
#conteudo{
    background-color: #DCE2C8;
}

    #conteudo .menu-vertical li{
        list-style: none;
        padding:0px 40px 0px 0px ;
    }
    #conteudo #carro{
        width: 200px;
        height: 112px;
        padding: 0px 40px 0px 00px;
    }
    #conteudo #conteudo-dinamico{
        padding: 0px 0px 0px 40px;
    }
/*-------------------------------------------------------------------------------------*/
#rodape{
    background-color: #769051;
}
    #rodape .menu-vertical li{
        list-style: none;
        padding: 0px 40px 0px 0px;
    }

/*-------------------------------------------------------------------------------------*/
.bg-fundoEscuro{
    color:white;
}

.bg-fundoClaro{
    color: black;
}

.flex-container{
    display: flex;
}

